// Markdown-rendered table borders (innerHTML content from Showdown)
:host ::ng-deep .challenge-description {
  table {
    width: 100%;
    border-collapse: collapse;
    display: block;
    max-width: 100%;
    overflow-x: auto;
  }
  thead {
    border-bottom: 1px solid rgb(203 213 225);
  }
  th {
    padding: 0.5rem 1rem;
    text-align: left;
    font-weight: 600;
    background-color: rgb(248 250 252);
    border: 1px solid rgb(226 232 240);
    color: rgb(15 23 42);
  }
  td {
    padding: 0.5rem 1rem;
    border: 1px solid rgb(226 232 240);
    color: rgb(51 65 85);
  }
  tbody tr:hover td {
    background-color: rgb(248 250 252);
  }
}

:host-context(.dark) ::ng-deep .challenge-description {
  thead {
    border-color: rgb(71 85 105);
  }
  th {
    border-color: rgb(71 85 105);
    background-color: rgb(30 41 59 / 0.5);
    color: rgb(248 250 252);
  }
  td {
    border-color: rgb(71 85 105);
    color: rgb(203 213 225);
  }
  tbody tr:hover td {
    background-color: rgb(30 41 59 / 0.3);
  }
}

// TinyMCE dark mode styling for writeup editor
:host-context(.dark) ::ng-deep {
  .tox-tinymce {
    background-color: #0f172a !important; /* slate-950 */
    border-color: #334155 !important; /* slate-700 */
  }
  .tox-toolbar,
  .tox-toolbar__primary,
  .tox-menubar {
    background-color: #1e293b !important; /* slate-800 */
    border-color: #334155 !important;
  }
  .tox-edit-area__iframe {
    background-color: #0f172a !important;
  }
  .tox-statusbar {
    background-color: #1e293b !important;
    border-color: #334155 !important;
  }
}
